<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="shortcut icon" href="/img/logo.png">
    <link rel="manifest" type="application/json" href="/manifest.json" />
    <title>Brewdog Beer Recipes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <base href="/"> 
    <link rel="stylesheet" href="/dist/styles.css">
</head>
    <body>
        <div class="container">
            {{{body}}}
        </div>
    </body>
</html>