{{> header}}

<div id="notfound__container">
    <img src="/img/notfound.png" alt="sad fallen beer">
    <h1>OOPS.</h1>
    <p>Looks like this page doesn't exist. You can either go to the home page or look at this sad beer that fell over.</p>
</div>